body {
background-color: black;
}

.logo {
    text-align: center;
    padding-top: 20vh;
    font-family: 'Orbitron', sans-serif;
    color: springgreen;
    font-size: 56pt;
}

.play {
    margin-top: 2vh;
    text-align: center;
    cursor: pointer;
    padding: 5vh;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: white;
    box-shadow: 5px 10px springgreen;
}

.button-container {
    text-align: center;
}
